body {
    position: relative;
    background: rgba(0, 0, 0, 0.5) url(/public/images/Rectangle-1.png);
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;

}